/*barra de arriba*/
input.error {
              background-color: #f2dede;
            }
            .error {
              color: #a94442;
              /*background-color: #f2dede;*/
              border-color: #ebccd1;
              /*padding:1px 20px 1px 20px;*/
              font-weight:normal;
              font-style: oblique;
            }
            label.error {
             display: none;
            }
            /*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
            /*.navbar-default {
              background-color: #4285f4!important;
              border-color: #2172f9 !important;
            }
            .navbar-default .navbar-brand {
              color: #e7e7e7!important;
            }
            .navbar-default .navbar-brand:hover,
            .navbar-default .navbar-brand:focus {
              color: #ffffff!important;
            }
            .navbar-default .navbar-text {
              color: #e7e7e7!important;
            }
            .navbar-default .navbar-nav > li > a {
              color: #e7e7e7!important;
            }
            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
              color: #ffffff!important;
            }
            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {
              color: #ffffff!important;
              background-color: #2172f9!important;
            }
            .navbar-default .navbar-nav > .open > a,
            .navbar-default .navbar-nav > .open > a:hover,
            .navbar-default .navbar-nav > .open > a:focus {
              color: #ffffff!important;
              background-color: #2172f9!important;
            }
            .navbar-default .navbar-toggle {
              border-color: #2172f9!important;
            }
            .navbar-default .navbar-toggle:hover,
            .navbar-default .navbar-toggle:focus {
              background-color: #2172f9!important;
            }
            .navbar-default .navbar-toggle .icon-bar {
              background-color: #e7e7e7!important;
            }
            .navbar-default .navbar-collapse,
            .navbar-default .navbar-form {
              border-color: #e7e7e7!important;
            }
            .navbar-default .navbar-link {
              color: #e7e7e7!important;
            }
            .navbar-default .navbar-link:hover {
              color: #ffffff!important;
            }

            @media (max-width: 767px) {
              .navbar-default .navbar-nav .open .dropdown-menu > li > a {
                color: #e7e7e7!important;
              }
              .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
              .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
                color: #ffffff!important;
              }
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
                color: #ffffff!important;
                background-color: #2172f9!important;
              }
            }*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
            /*body {
                    background-color: rgba(86, 99, 156, 0);
            }
            body{
                background-color: #56639c;
            }*/
            /*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
                
                background-color: #1B498C;
            }*/
            /*.navbar-brand {
                margin-left: -15px;
                background-color: #1B498C;
            }*/
            /*.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
                margin-left: -15px;
                background-color: #1B498C;
            }*/
            .container-fluid {
                /*padding-right: auto;
                padding-left: auto;
                margin-right: auto;
                margin-left: auto;*/
                margin: auto auto auto auto;
                padding: auto auto auto auto;
                border-color: #1B498C;
                /*background-color: #4285f4;*/
                background-color:#1B498C;
                /*background-color: linear-gradient(to bottom,#4285F4 0,#1B498C 100%);*/
                 /*#1B498C;*/
            }

            /*a.dropdown-toggle {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }*/
           /* * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                color: white;
            }*/
            .btn {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                 background-image: none!important;
                /*-moz-user-select: none;
                -ms-user-select: none;*/
                /*user-select: none;*/
                /*border: 1px solid transparent;*/
                /*border-radius: 4px;*/
            }
            .navbar-inverse .navbar-nav>li>a {
                
                /*padding-right: 0px;
                padding-left: auto;*/

            } 
           /* .panel-primary>.panel-heading {
                background-image: none!important;
            }*/
            .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
                background-image: linear-gradient(to bottom,#515660 0,#515660 100%);
            }
            .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
                color: #fff;
                text-decoration: none;
                /*background-color: #1b498c;*/
                background-color: #2172f9;
                background-image: -moz-linear-gradient(top,#08c,#0077b3);
                background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
                background-image: -webkit-linear-gradient(top,#08c,#0077b3);
                background-image: -o-linear-gradient(top,#08c,#0077b3);
                background-image: linear-gradient(to bottom,#1b498c,#1b498c);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
            }
            
            /*.navbar-brand {
                float: left;
                height: 50px;
                padding: 15px 15px;
                font-size: 18px;
                line-height: 20px;
            }*/
            /*.navbar-brand {
                margin-left: 0px;
                padding-right: 0px;
                padding-left: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 28px;
                width: 23px;
            }*/
            .navbar-brand  {
                margin-left: auto;
                margin-right: 5px;
                padding-right: 0px!important;
                padding-left: 0px!important;
                padding-top: 8px;
                width: 53px;
                height: 35px;
                padding-bottom: 15px;
            }






/*cosas normalespuestas*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


.typeahead,
.tt-query,
.tt-hint {
  
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
  width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 100%;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.twitter-typeahead{
  width: 100%;
}

.loading-modal {
  text-align: center;
  padding-top: 20%;
  display:    none;
  position:   fixed;
  z-index:    1000000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}



.cssload-spin {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 3px solid rgb(0,0,0);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
        -o-animation: cssload-spin 575ms infinite linear;
        -ms-animation: cssload-spin 575ms infinite linear;
        -webkit-animation: cssload-spin 575ms infinite linear;
        -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}


.preloader_2{
position: relative;
left: 50%;
width: 40px;
height: 40px;
}
.preloader_2 span{
    display:block;
    bottom:0px;
    width: 20px;
    height: 20px;
    background:#9b59b6;
    position:absolute;
}
.preloader_2 span:nth-child(1){
animation: preloader_2_1 1.5s infinite ease-in-out;
}
.preloader_2 span:nth-child(2){
left:20px;
animation: preloader_2_2 1.5s infinite ease-in-out;
 
}
.preloader_2 span:nth-child(3){
top:0px;
animation: preloader_2_3 1.5s infinite ease-in-out;
}
.preloader_2 span:nth-child(4){
top:0px;
left:20px;
animation: preloader_2_4 1.5s infinite ease-in-out;
}

.precarga {
  text-align: center;
  padding-top: 20%;
  display:    none;
  position:   fixed;
  z-index:    1000000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .precarga {
    display: block;
}
 
@-keyframes preloader_2_1 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
    80% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
     100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-keyframes preloader_2_2 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
    80% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
    100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-keyframes preloader_2_3 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
    80% {-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
     100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
 
 
@-keyframes preloader_2_4 {
    0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
    80% {-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
     100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}

/*Boton Purple*/

.btn-purple {
  background-color: #744c8c;
  color: #fff;
  border-color: #641595;
}
.btn-purple:hover {
  color: #fff;
  background-color: #641595;
  border-color: #641595;
}
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  color: #fff;
  background-color: #441a5f;
  border-color: #641595;
}
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #744c8c;
  border-color: #641595;
}
.btn-purple .badge {
  color: #744c8c;
  background-color: #fff;
}
.btn-purple:focus,
.btn-purple.focus {
  color: #fff;
  background-color: #641595;
  border-color: #744c8c;
}
.table > thead > tr > td.purple,
.table > tbody > tr > td.purple,
.table > tfoot > tr > td.purple,
.table > thead > tr > th.purple,
.table > tbody > tr > th.purple,
.table > tfoot > tr > th.purple,
.table > thead > tr.purple > td,
.table > tbody > tr.purple > td,
.table > tfoot > tr.purple > td,
.table > thead > tr.purple > th,
.table > tbody > tr.purple > th,
.table > tfoot > tr.purple > th {
  background-color: #ae9bca;
}
.table-hover > tbody > tr > td.purple:hover,
.table-hover > tbody > tr > th.purple:hover,
.table-hover > tbody > tr.purple:hover > td,
.table-hover > tbody > tr:hover > .purple,
.table-hover > tbody > tr.purple:hover > th {
  background-color: #c1b3d6;
}


